<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/index.css?">
        <title>Emoji Browser - 404</title>
    </head>
    <body>
        <nav>
            <div>
                <h1>🌐 Emoji Browser</h1>
            </div>
        </nav>
        <div class="content">
            <h1 style="text-align: center; margin: auto">¯\_(ツ)_/¯</h1>
            <h2 style="text-align: center; margin: auto">Page Not Found</h2>
            <p>Error 404 [non-emoji]</p>
        </div>
    </body>
</html>